<%- include("./partials/header", {title: "Add Product"}); %>
<form action="/api/v1/products" method="post">
    <input type="text" placeholder="name" name="name" />
    <textarea
        type="text"
        maxlength="1000"
        placeholder="Write description here..."
        name="description"
    ></textarea>
    <input type="number" placeholder="price" name="price" />
    <input type="number" placeholder="inventory" name="inventory" />
    <button type="submit">Add</button>
</form>
<a href="/api/v1/products">Back To Products</a>
<%- include("./partials/footer"); %>
